<div class="c-gallery">
    <div class="row">
        <div  class="col-3" *ngFor = "let character of charactersList">
            <figure routerLink="/{{url}}/{{character.id}}" class="c-gallery__figure" >
                <img  class="c-gallery__img" src="{{character.image ? character.image : 'assets/img/earth.png'}}" alt="{{character.name}}">
                <figcaption class="c-gallery__figcaption"><span class="c-gallery__text">{{character.name | priorityName: 'Rick' : '/'}}</span></figcaption>
            </figure>
            <button (click)="addFavorites(character)">Add to Favourites</button>
        </div>

    </div>
</div>

